<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/cv.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body>
    {% include 'index.html' %}
   
    <section>
        <h2>Expériences professionnelles</h2>
        
        <table class="table">
            <thead>
                <tr class="table-primary">
                    <th scope="row">ID</th>
                    <td>INTITULE</td>
                    <td>DATE</td>
                    <td>LIEUX</td>
                  </tr>
            </thead>
            <tbody>
            {% for i in stage %}
              <tr class="table-info">
                <th scope="row">{{i.id}}</th>
                
                <td>{{i.intitule}}</td>
                <td>{{i.date}}</td>
                <td>{{i.lieu}}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
    </section>
       
</body>

</html>